---
import Layout from '../layouts/Layout.astro';
import WindowButton from '../components/WindowButton.astro';
import LinkedInBadge from '../components/LinkedIn-Badge.astro';
// Icons
import ProjectIcon from '../assets/Project-Icon.astro';
import AboutIcon from '../assets/About-Icon.astro';
import EducationIcon from '../assets/Education-Icon.astro';
import SkillIcon from '../assets/Skill-Icon.astro';
import JobsIcon from '../assets/Jobs-Icon.astro';
// Styles
import '../styles/global.css';
---

<Layout 
  title="Álvaro Gómez - Full Stack Developer"
  description="Contrata a Álvaro Gómez, un desarrollador Full Stack con experiencia en tecnologías modernas como Angular, Spring Boot y más. Crea aplicaciones web rápidas y eficientes con un enfoque en la experiencia del usuario."
  author="Álvaro Gómez"
>
  <main class="flex">
    <aside class="flex-col w-1/4 h-full border-r"> 
      <div class="flex items-center justify-start gap-4 p-6 border-b">
      <WindowButton class="bg-red-500" href="assets/icons/close-icon.png" alt="Close"/>
      <WindowButton class="bg-yellow-500" href="assets/icons/subtract-icon.png" alt="Minimize"/>
      <WindowButton class="bg-green-500" href="assets/icons/full-screen-icon.png" alt="Full screen"/>
      </div>
      <div class="flex flex-col p-6">
        <div class="px-3">
          <h5 class="text-lg font-medium text-[#bfbfbf]">Categories</h5>
          <a href="" class="text-md px-3 py-2 rounded-xl transition hover:bg-black/40 hover:scale-105"><span class="flex gap-3"><ProjectIcon/>Projects</span></a>
          <a href="" class="text-md px-3 py-2 rounded-xl transition hover:bg-black/40 hover:scale-105"><span class="flex gap-3"><EducationIcon/>Education</span></a>
          <a href="" class="text-md px-3 py-2 rounded-xl transition hover:bg-black/40 hover:scale-105"><span class="flex gap-3"><AboutIcon/>About</span></a>
          <a href="" class="text-md px-3 py-2 rounded-xl transition hover:bg-black/40 hover:scale-105"><span class="flex gap-3"><SkillIcon/>Skills</span></a>
          <a href="" class="text-md px-3 py-2 rounded-xl transition hover:bg-black/40 hover:scale-105"><span class="flex gap-3"><JobsIcon/>Jobs</span></a>
          <h5 class="text-lg font-medium text-[#bfbfbf]">Social Links</h5>
        </div>
      </div>
    </aside>
    <section class="flex flex-col w-full">
      <nav class="flex items-center justify-end gap-4 p-3 position-sticky top-0 border-b ">
        <a href="https://www.linkedin.com/in/alvarogmez/" target="_blank" rel="noopener" class="flex items-center transition md:justify-center md:hover:scale-105">
          <LinkedInBadge />
        </a>
        <img src="assets/images/alvaro3.jpeg" alt="Foto de perfil de Álvaro Gómez" class="size-10 border-2 rounded-full"/>
      </nav>
    </section>
  </main>
</Layout>
