---
const { href, class: className = "", ...props } = Astro.props;
---

<a 
    href={href}
    class={`flex gap-3 text-md px-2 py-2.5 rounded-lg transition hover:bg-black/40 hover:scale-105 cursor-pointer 
            ${className}`} 
    {...props}
>
    <slot />
</a>