---
const { href, alt } = Astro.props;
const className = Astro.props.class ?? '';
---

<button 
  class={`hidden lg:flex items-center justify-center size-3.5 me-4 rounded-full ${className}`} 
  aria-label={alt}
>
  <img 
    src={href} 
    alt={alt} 
    class="p-0.5 hidden group-hover:block" 
  />
</button>
