---
import '@fontsource-variable/onest';
import '../styles/global.css';

interface Props {
	author: string;
	description: string;
	title: string;
}

const { author, description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="author" content={author} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="img/jpg" href="./assets/images/marca.webp"/>
		<meta name="generator" content={Astro.generator} />
		<title>{ title }</title>
	</head>
	<body>
		<video 
			autoplay 
			loop 
			muted 
			playsinline 
			preload="none" 
			class="fixed top-0 left-0 w-full h-full object-cover -z-10"
		>
			<source src="./assets/videos/bg.mp4" type="video/mp4" />
			Tu navegador no soporta el video.
		</video>
		<slot />
	</body>
</html>
