---
import '@fontsource-variable/onest';

interface Props {
	description: string;
	title: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="author" content="Álvaro Gómez" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title }</title>
	</head>
	<body>
		<video autoplay loop muted playsinline class="fixed top-0 left-0 w-full h-full object-cover -z-10">
			<source src="/assets/videos/background2.mp4" type="video/mp4" />
			Tu navegador no soporta el video.
		</video>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
		--border-color: rgba(113 119 144 / 25%);
		--main-bg: rgba(16, 18, 27, 0.7);
	}

	html {
		font-family: 'Onest Variable', system-ui, sans-serif;
	}

	body {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
	}

	main {
		width: 65.40%;
		height: 90vh;
		background-color: rgba(16, 18, 27, 0.7);
		border-radius: 30px;
		backdrop-filter: blur(10px);
	}

	@media(prefers-reduce-motion: reduce) {
		html {
			scroll-behavior: auto; 
		}
	}
</style>
